<b>Add Poverty Rate Data to Database

In [ ]:
require(dplyr)

In [97]:
if(!require(readxl)){install.packages("readxl"); require(readxl)}
# Load the Excel workbook
##path <- "D:/Google Drive/Final Project/"
##WorkPath
path <- paste0(getwd(),"/Data/Raw") 
excel_file <- paste0("/PovertyRate2007-2013.xlsx")
# see available tabs
excel_sheets(paste0(path, excel_file))

In [98]:
year2007 <- read_excel(paste0(path, excel_file), sheet = "Tabulate 1 - Table 1")
year2008 <- read_excel(paste0(path, excel_file), sheet = "Tabulate 2 - Table 1")
year2009 <- read_excel(paste0(path, excel_file), sheet = "Tabulate 3 - Table 1")
year2010 <- read_excel(paste0(path, excel_file), sheet = "Tabulate 4 - Table 1")
year2011 <- read_excel(paste0(path, excel_file), sheet = "Tabulate 5 - Table 1")
year2012 <- read_excel(paste0(path, excel_file), sheet = "Tabulate 6 - Table 1")
year2013 <- read_excel(paste0(path, excel_file), sheet = "Tabulate 7 - Table 1")
excel_file <- paste0("/PovertyRate2014.xlsx")
year2014 <- read_excel(paste0(path, excel_file), sheet = "Tabulate 1 - Table 1")
excel_file <- paste0("/PovertyRate2015.xlsx")
year2015 <- read_excel(paste0(path, excel_file), sheet = "Tabulate 1 - Table 1")

In [99]:
colnames(year2007)[colnames(year2007)=="CPS Data Collected in Year: 2008"] <- "state"
colnames(year2008)[colnames(year2008)=="CPS Data Collected in Year: 2009"] <- "state"
colnames(year2009)[colnames(year2009)=="CPS Data Collected in Year: 2010"] <- "state"
colnames(year2010)[colnames(year2010)=="CPS Data Collected in Year: 2011"] <- "state"
colnames(year2011)[colnames(year2011)=="CPS Data Collected in Year: 2012"] <- "state"
colnames(year2012)[colnames(year2012)=="CPS Data Collected in Year: 2013"] <- "state"
colnames(year2013)[colnames(year2013)=="CPS Data Collected in Year: 2014"] <- "state"
colnames(year2014)[colnames(year2014)=="CPS Data Collected in Year: 2015"] <- "state"
colnames(year2015)[colnames(year2015)=="CPS Data Collected in Year: 2016"] <- "state"

In [100]:
create_dsByYear <- function(data,year){
    percentColumn <-data %>% select("X__4") %>% filter(grepl("%",X__4))
    ##remove first row - it's a total value
    percentColumn <- percentColumn[-1,]
    statesColumn <-data %>% select("state") %>% filter(nchar(data$state)==2)
    if  (nrow(statesColumn) == nrow(percentColumn)){
      newData <- cbind(statesColumn,percentColumn,c(year))
      names(newData) <- c("state", "poverty_rate","year")
      return (newData)
     }
    else
      return (NULL)
  }

In [101]:
povertyRate2007 <- create_dsByYear(year2007,2007)
povertyRate2008 <- create_dsByYear(year2008,2008)
povertyRate2009 <- create_dsByYear(year2009,2009)
povertyRate2010 <- create_dsByYear(year2010,2010)
povertyRate2011 <- create_dsByYear(year2011,2011)
povertyRate2012 <- create_dsByYear(year2012,2012)
povertyRate2013 <- create_dsByYear(year2013,2013)
povertyRate2014 <- create_dsByYear(year2014,2014)
povertyRate2015 <- create_dsByYear(year2015,2015)

In [141]:
povertyRate2007

   state poverty_rate year
1  AL    14.5%        2007
2  AK    7.6%         2007
3  AZ    14.3%        2007
4  AR    13.8%        2007
5  CA    12.7%        2007
6  CO    9.8%         2007
7  CT    8.9%         2007
8  DE    9.3%         2007
9  DC    18.0%        2007
10 FL    12.5%        2007
11 GA    13.6%        2007
12 HI    7.5%         2007
13 ID    9.9%         2007
14 IL    10.0%        2007
15 IN    11.8%        2007
16 IA    8.9%         2007
17 KS    11.7%        2007
18 KY    15.5%        2007
19 LA    16.1%        2007
20 ME    10.9%        2007
21 MD    8.8%         2007
22 MA    11.2%        2007
23 MI    10.8%        2007
24 MN    9.3%         2007
25 MS    22.6%        2007
26 MO    12.8%        2007
27 MT    13.0%        2007
28 NE    9.9%         2007
29 NV    9.7%         2007
30 NH    5.8%         2007
31 NJ    8.7%         2007
32 NM    14.0%        2007
33 NY    14.5%        2007
34 NC    15.5%        2007
35 ND    9.3%         2007
36 OH    12.8%        2007
37 OK    13.4%        2007
38 OR    12.8%        2007
39 PA    10.4%        2007
40 RI    9.5%         2007
41 SC    14.1%        2007
42 SD    9.4%         2007
43 TN    14.8%        2007
44 TX    16.5%        2007
45 UT    9.6%         2007
46 VT    9.9%         2007
47 VA    8.6%         2007
48 WA    10.2%        2007
49 WV    14.8%        2007
50 WI    11.0%        2007
51 WY    10.9%        2007

In [162]:
poverty_rate_ds <- bind_rows(povertyRate2007,povertyRate2008,povertyRate2009,povertyRate2010,povertyRate2011,povertyRate2012,povertyRate2013,povertyRate2014,povertyRate2015)

In [163]:
dim(poverty_rate_ds)

[1] 459   3

In [132]:
create_dsByYearTranspose <- function(data){
    cat <- levels(factor(data[["state"]]))
    res <- data %>% group_by_("state") %>% select_("state") %>% distinct_()
    for (l in 1:length(cat)) {
        cname <- paste(cat[l])
        cc1 <- data %>% select("poverty_rate") %>% filter(povertyRate2007[["state"]]==cat[l]) 
        res[[cname]] <- as.character(cc1)
    }
    return (res)
}

In [135]:
try2007 <- create_dsByYearTranspose(povertyRate2007)
try2008 <- create_dsByYearTranspose(povertyRate2008)

In [136]:
try2007
try2008

  year AK   AL    AR    AZ    CA    CO   CT   DC    DE   ... SD   TN    TX
1 2007 7.6% 14.5% 13.8% 14.3% 12.7% 9.8% 8.9% 18.0% 9.3% ... 9.4% 14.8% 16.5%
  UT   VA   VT   WA    WI    WV    WY
1 9.6% 8.6% 9.9% 10.2% 11.0% 14.8% 10.9%

  year AK   AL    AR    AZ    CA    CO    CT   DC    DE   ... SD    TN    TX
1 2008 8.2% 14.3% 15.3% 18.0% 14.6% 11.0% 8.1% 16.5% 9.6% ... 13.1% 15.0% 15.9%
  UT   VA    VT   WA    WI   WV    WY
1 7.6% 10.3% 9.0% 10.4% 9.8% 14.5% 10.1%

In [139]:
tryj <- rbind(try2007,try2008)

In [140]:
tryj

  year AK   AL    AR    AZ    CA    CO    CT   DC    DE   ... SD    TN    TX
1 2007 7.6% 14.5% 13.8% 14.3% 12.7% 9.8%  8.9% 18.0% 9.3% ... 9.4%  14.8% 16.5%
2 2008 8.2% 14.3% 15.3% 18.0% 14.6% 11.0% 8.1% 16.5% 9.6% ... 13.1% 15.0% 15.9%
  UT   VA    VT   WA    WI    WV    WY
1 9.6% 8.6%  9.9% 10.2% 11.0% 14.8% 10.9%
2 7.6% 10.3% 9.0% 10.4% 9.8%  14.5% 10.1%

In [142]:
t(tryj)

     [,1]  [,2]
year 2007  2008
AK   7.6%  8.2%
AL   14.5% 14.3%
AR   13.8% 15.3%
AZ   14.3% 18.0%
CA   12.7% 14.6%
CO   9.8%  11.0%
CT   8.9%  8.1%
DC   18.0% 16.5%
DE   9.3%  9.6%
FL   12.5% 13.1%
GA   13.6% 15.5%
HI   7.5%  9.9%
IA   8.9%  9.5%
ID   9.9%  12.2%
IL   10.0% 12.3%
IN   11.8% 14.3%
KS   11.7% 12.7%
KY   15.5% 17.1%
LA   16.1% 18.2%
MA   11.2% 11.3%
MD   8.8%  8.7%
ME   10.9% 12.0%
MI   10.8% 13.0%
MN   9.3%  9.9%
MO   12.8% 13.3%
MS   22.6% 18.1%
MT   13.0% 12.9%
NC   15.5% 13.9%
ND   9.3%  11.8%
NE   9.9%  10.6%
NH   5.8%  7.0%
NJ   8.7%  9.2%
NM   14.0% 19.3%
NV   9.7%  10.8%
NY   14.5% 14.2%
OH   12.8% 13.7%
OK   13.4% 13.6%
OR   12.8% 10.6%
PA   10.4% 11.0%
RI   9.5%  12.7%
SC   14.1% 14.0%
SD   9.4%  13.1%
TN   14.8% 15.0%
TX   16.5% 15.9%
UT   9.6%  7.6%
VA   8.6%  10.3%
VT   9.9%  9.0%
WA   10.2% 10.4%
WI   11.0% 9.8%
WV   14.8% 14.5%
WY   10.9% 10.1%

In [161]:
if(!require(openintro)){install.packages("openintro"); require(openintro)}

Loading required package: openintro
Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
"there is no package called 'openintro'"

package 'openintro' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Kobi\AppData\Local\Temp\RtmpOikrfC\downloaded_packages

Loading required package: openintro
Warning message:
"package 'openintro' was built under R version 3.5.2"Please visit openintro.org for free statistics materials

Attaching package: 'openintro'

The following objects are masked from 'package:datasets':

    cars, trees

In [169]:
poverty_rate_ds <- poverty_rate_ds %>%select(everything())%>%mutate(state_name= abbr2state(poverty_rate_ds$state) , poverty_rate_p =  as.numeric(sub("%", "",poverty_rate_ds$poverty_rate,fixed=TRUE))/100)

In [170]:
DB_FILE = paste0(getwd(),"/Data/loans.db") 

##############################################################################
##########                DATABASE FUNCTIONS                     #############
##############################################################################
            
#### Read function to import data from the SQL to a pandas dataframe.
readSQL <- function(query, db=DB_FILE) {
    require(DBI)
    require(RSQLite)
    con <- dbConnect(SQLite(), DB_FILE)
    df <- dbGetQuery(con, query)
    return(df)
}
#### Write a pandas dataframe into an SQL table. Use overwrite=True if you want to delete 
#### first a pre-existent table with the same name. Use append=True if you want to append
#### the data in the dataframe to a pre-existent table.
writeSQL <- function(df,tablename,overwrite=FALSE, append=FALSE,db=DB_FILE) {
    require(DBI)
    require(RSQLite)
    con <- dbConnect(SQLite(), DB_FILE)
    dbWriteTable(con,tablename,df,overwrite,append)
}

In [171]:
writeSQL(poverty_rate_ds, "povertyRateByStates")

Loading required package: DBI
Loading required package: RSQLite