In [1]:
import os
cwd = os.getcwd()
DB_FILE = "%s\Data\loans.db" % cwd

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import preprocessing

In [3]:
##############################################################################
##########                DATABASE FUNCTIONS                     #############
##############################################################################
#### Read function to import data from the SQL to a pandas dataframe.
def readSQL(query):
    import pandas as pd
    import sqlite3 as sql3
    db = sql3.connect(DB_FILE)
    df = pd.read_sql_query(query, db)
    db.close()
    return(df)

#### Write a pandas dataframe into an SQL table. Use overwrite=True if you want to delete 
#### first a pre-existent table with the same name. Use append=True if you want to append
#### the data in the dataframe to a pre-existent table.
def writeSQL(df,tablename,overwrite=False, append=False):
    import pandas as pd
    import sqlite3 as sql
    db = sql.connect(DB_FILE)
    if (overwrite):
        action = "replace"
    elif (append):
        action = "append"
    else: 
        action = "fail"
    df.to_sql(tablename, db, if_exists=action)
    db.close()

In [4]:
loans = readSQL('''SELECT * FROM loans_dataset_missing''')

In [35]:
loans.head()

,verification_status,issue_d,pymnt_plan,purpose,initial_list_status,emp_length,loan_amnt,funded_amnt,funded_amnt_inv,term,...,annual_inc_rt,inc_grp,revol_bal_rt,credit_hist_log,credit_hist_rt,credit_hist_grp,max_L,max_fund_L,MAX_fund_L_inv,is_acc_now_delinq_not_zero
0,Not Verified,2007-10-01,0,debt_consolidation,1,2 years,10000,10000,2175.00,0,...,190.787840,verylow_inc,95.739229,2.397895,3.316625,4-13_yrs,0.0,0.0,0.0,0.0
1,Not Verified,2007-12-01,0,credit_card,1,1 year,5400,5400,375.00,0,...,204.939015,verylow_inc,195.074345,2.079442,2.828427,4-13_yrs,0.0,0.0,0.0,0.0
2,Not Verified,2007-11-01,0,debt_consolidation,1,2 years,1500,1500,583.05,0,...,124.899960,verylow_inc,79.448096,1.945910,2.645751,4-13_yrs,0.0,0.0,0.0,0.0
3,Not Verified,2007-12-01,0,home_improvement,1,6 years,4800,4800,1550.00,0,...,244.948974,low_inc,53.122500,2.397895,3.316625,4-13_yrs,0.0,0.0,0.0,0.0
4,Not Verified,2007-10-01,0,debt_consolidation,1,< 1 year,4800,4800,1625.00,0,...,158.113883,verylow_inc,20.223748,2.302585,3.162278,4-13_yrs,0.0,0.0,0.0,0.0

In [36]:
loans.dtypes

verification_status                object
issue_d                            object
pymnt_plan                         object
purpose                            object
initial_list_status                object
emp_length                         object
loan_amnt                           int64
funded_amnt                         int64
funded_amnt_inv                   float64
term                               object
collections_12_mths_ex_med          int64
home_ownership                     object
annual_inc                        float64
dti                               float64
delinq_2yrs                         int64
acc_now_delinq                      int64
inq_last_6mths                      int64
open_acc                            int64
pub_rec                             int64
revol_bal                         float64
revol_util                        float64
total_acc                           int64
default                            object
loan_installment                  float64
full_state                         object
acc_ratio                         float64
credit_hist                         int64
poverty_rate_p                    float64
cat_delinq_2yrs                    object
cat_inq_last_6mths                 object
cat_collections_12_mths_ex_med     object
cat_pub_rec                        object
open_acc_rt                       float64
total_acc_rt                      float64
annual_inc_log                    float64
annual_inc_rt                     float64
inc_grp                            object
revol_bal_rt                      float64
credit_hist_log                   float64
credit_hist_rt                    float64
credit_hist_grp                    object
max_L                             float64
max_fund_L                        float64
MAX_fund_L_inv                    float64
is_acc_now_delinq_not_zero        float64
dtype: object

In [37]:
df = loans.copy()

In [38]:
df.drop(['issue_d'],axis=1,inplace=True)

In [39]:
##Get Series of columns
##cat_vars = list(df.select_dtypes(include=['object']).columns)
##cat_vars
##Turn
#for column in cat_vars:
 #   print(df[column])
 #   df[column] = df[column].astype('category')

In [40]:
## check unique - df.select_dtypes('category').apply(pd.Series.nunique, axis = 0)

<h3> Encoding the Categorical Variables

<b> For categorical variables with only 2 unique values we will use LabelEncoder

In [41]:
count = 0
for col in df:
    if df[col].dtype == 'object':
        if len(list(df[col].unique())) <= 2:     
            le = preprocessing.LabelEncoder()
            df[col] = le.fit_transform(df[col])
            count += 1
            print (col)
            
print('%d columns were label encoded.' % count)

pymnt_plan
initial_list_status
term
default
cat_collections_12_mths_ex_med
cat_pub_rec
6 columns were label encoded.

<b> For categorical variables with more than 2 unique values we will use dummies(onehotencoding)

In [42]:
df = pd.get_dummies(df)
print(df.shape)
df.head()

(254794, 138)

,pymnt_plan,initial_list_status,loan_amnt,funded_amnt,funded_amnt_inv,term,collections_12_mths_ex_med,annual_inc,dti,delinq_2yrs,...,inc_grp_high_inc,inc_grp_low_inc,inc_grp_middle_inc,inc_grp_veryhigh_inc,inc_grp_verylow_inc,credit_hist_grp_13-17_yrs,credit_hist_grp_17-21_yrs,credit_hist_grp_4-13_yrs,credit_hist_grp_<4_yrs,credit_hist_grp_>21_yrs
0,0,1,10000,10000,2175.00,0,0,36400.0,18.92,0,...,0,0,0,0,1,0,0,1,0,0
1,0,1,5400,5400,375.00,0,0,42000.0,16.09,0,...,0,0,0,0,1,0,0,1,0,0
2,0,1,1500,1500,583.05,0,0,15600.0,14.23,0,...,0,0,0,0,1,0,0,1,0,0
3,0,1,4800,4800,1550.00,0,0,60000.0,12.94,0,...,0,1,0,0,0,0,0,1,0,0
4,0,1,4800,4800,1625.00,0,0,25000.0,18.19,1,...,0,0,0,0,1,0,0,1,0,0

In [43]:
##check for NA
df.columns[df.isna().any()].tolist()

[]

In [44]:
##Turn Our Outcome To Category For TableOne

In [45]:
df['default'] = df['default'].astype('category')

# Feature Selection Strategy

<p>After the dataset is ready we need to find what features are good for modeling.</p>
<p>We will do it with Univariable and Multivariable methods.</p>
<p>For Univariate we will check with <strong>tableOne</strong> what features have <strong>p-value&lt;0.05</strong></p>
<p>For Multivariate we will check with numerous modeling:</p>
<ol>
<li>LASSO (L1 penalization)</li>
<li>Random Forest</li>
<li>Gradient Boosting classification</li>
<li>SVM classification</li>
</ol>

In [46]:
##Get Thomas Library
import pyMechkar as mechkar

<b>prepare the data for multiple checks

In [47]:
##Get All Columns except default
df_columns = df.select_dtypes(exclude=['category']).columns

In [48]:
X = df.loc[:,df_columns]
X.head()
X.shape

(254794, 137)

In [49]:
y = df[['default']]
print(y.shape)

(254794, 1)

Prepare table with all of our features and fill it with the result of each analysis method

In [53]:
varSelection = pd.DataFrame({'Variable': df_columns})
varSelection.size

137

<b>Univariable check

In [55]:
tab1 = mechkar.pyMechkar().Table1(data=df, y='default')

Factorizing... please wait
*****************************************************************************************************************************************
[]
[******************************************************************************************************************************************
[******************************************************************************************************************************************
['Unable to calcualte the Fisher exact test for variables acc_now_delinq and default... The p-value may be incorrect']
------ Finished in 521.6546809673309econds -----

In [56]:
tab1[tab1['p_value']<0.05]

,Variables,Categories,Population,Category_0,Category_1,p_value
4,initial_list_status,0,"184,189.00 ( 72.30%)","150,650.00 ( 72.10%)","33,539.00 ( 73.20%)",0.000
5,loan_amnt,Mean (SD),"13,505.40 (8,111.30)","13,295.90 (8,037.90)","14,461.00 (8,371.60)",0.000
8,funded_amnt,Mean (SD),"13,463.50 (8,088.80)","13,255.40 (8,016.30)","14,412.50 (8,345.60)",0.000
11,funded_amnt_inv,Mean (SD),"13,348.60 (8,122.10)","13,150.90 (8,045.70)","14,250.10 (8,403.10)",0.000
15,term,1,"56,425.00 ( 22.10%)","40,201.00 ( 19.20%)","16,224.00 ( 35.40%)",0.000
16,collections_12_mths_ex_med,Mean (SD),0.00 ( 0.10),0.00 ( 0.10),0.00 ( 0.10),0.001
19,annual_inc,Mean (SD),"71,702.70 (42,945.00)","73,300.00 (43,937.90)","64,418.60 (37,231.70)",0.000
22,dti,Mean (SD),16.50 ( 7.80),16.10 ( 7.70),18.40 ( 7.90),0.000
25,delinq_2yrs,Mean (SD),0.20 ( 0.70),0.20 ( 0.70),0.30 ( 0.80),0.000
29,acc_now_delinq,1,687.00 ( 0.30%),542.00 ( 0.30%),145.00 ( 0.30%),0.037
34,inq_last_6mths,Mean (SD),0.90 ( 1.20),0.90 ( 1.10),1.00 ( 1.30),0.000
37,open_acc,Mean (SD),10.90 ( 4.90),10.90 ( 4.90),11.00 ( 4.90),0.000
43,revol_bal,Mean (SD),"15,050.70 (16,657.80)","15,093.90 (17,081.30)","14,853.50 (14,569.70)",0.005
46,revol_util,Mean (SD),54.30 ( 24.80),53.20 ( 24.90),59.40 ( 23.60),0.000
49,total_acc,Mean (SD),25.00 ( 11.80),25.20 ( 11.80),24.20 ( 11.50),0.000
52,loan_installment,Mean (SD),326.90 ( 189.60),327.50 ( 191.60),324.50 ( 180.20),0.003
55,acc_ratio,Mean (SD),0.50 ( 0.20),0.50 ( 0.20),0.50 ( 0.20),0.000
58,credit_hist,Mean (SD),17.40 ( 7.10),17.50 ( 7.00),17.00 ( 7.20),0.000
61,poverty_rate_p,Mean (SD),0.10 ( 0.00),0.10 ( 0.00),0.10 ( 0.00),0.000
65,cat_collections_12_mths_ex_med,0,"253,229.00 ( 99.40%)","207,746.00 ( 99.40%)","45,483.00 ( 99.30%)",0.000
68,open_acc_rt,Mean (SD),3.20 ( 0.70),3.20 ( 0.70),3.20 ( 0.70),0.000
71,total_acc_rt,Mean (SD),4.90 ( 1.20),4.90 ( 1.20),4.80 ( 1.20),0.000
74,annual_inc_log,Mean (SD),11.00 ( 0.50),11.10 ( 0.50),10.90 ( 0.50),0.000
77,annual_inc_rt,Mean (SD),258.60 ( 69.40),261.50 ( 70.10),245.60 ( 64.20),0.000
80,revol_bal_rt,Mean (SD),110.80 ( 52.70),110.70 ( 53.30),111.40 ( 49.50),0.011
83,credit_hist_log,Mean (SD),2.80 ( 0.40),2.80 ( 0.40),2.70 ( 0.40),0.000
86,credit_hist_rt,Mean (SD),4.10 ( 0.80),4.10 ( 0.80),4.00 ( 0.80),0.000
90,max_L,1,"7,884.00 ( 3.10%)","6,172.00 ( 3.00%)","1,712.00 ( 3.70%)",0.000
92,max_fund_L,1,"7,776.00 ( 3.10%)","6,091.00 ( 2.90%)","1,685.00 ( 3.70%)",0.000
94,MAX_fund_L_inv,1,"7,776.00 ( 3.10%)","6,091.00 ( 2.90%)","1,685.00 ( 3.70%)",0.000
...,...,...,...,...,...,...
224,full_state_Nevada,1,"3,826.00 ( 1.50%)","3,009.00 ( 1.40%)",817.00 ( 1.80%),0.000
226,full_state_New Hampshire,1,"1,159.00 ( 0.50%)","1,001.00 ( 0.50%)",158.00 ( 0.30%),0.000
228,full_state_New Jersey,1,"9,682.00 ( 3.80%)","7,820.00 ( 3.70%)","1,862.00 ( 4.10%)",0.001
232,full_state_New York,1,"21,483.00 ( 8.40%)","17,318.00 ( 8.30%)","4,165.00 ( 9.10%)",0.000
234,full_state_North Carolina,1,"6,927.00 ( 2.70%)","5,614.00 ( 2.70%)","1,313.00 ( 2.90%)",0.034
238,full_state_Ohio,1,"7,823.00 ( 3.10%)","6,337.00 ( 3.00%)","1,486.00 ( 3.20%)",0.019
240,full_state_Oklahoma,1,"2,145.00 ( 0.80%)","1,723.00 ( 0.80%)",422.00 ( 0.90%),0.044
242,full_state_Oregon,1,"3,363.00 ( 1.30%)","2,816.00 ( 1.30%)",547.00 ( 1.20%),0.010
248,full_state_South Carolina,1,"2,827.00 ( 1.10%)","2,377.00 ( 1.10%)",450.00 ( 1.00%),0.004
252,full_state_Tennessee,1,"2,435.00 ( 1.00%)","1,870.00 ( 0.90%)",565.00 ( 1.20%),0.000
254,full_state_Texas,1,"19,477.00 ( 7.60%)","16,397.00 ( 7.80%)","3,080.00 ( 6.70%)",0.000
262,full_state_Washington,1,"5,945.00 ( 2.30%)","4,946.00 ( 2.40%)",999.00 ( 2.20%),0.017
264,full_state_West Virginia,1,"1,144.00 ( 0.40%)",984.00 ( 0.50%),160.00 ( 0.30%),0.000
268,full_state_Wyoming,1,605.00 ( 0.20%),523.00 ( 0.30%),82.00 ( 0.20%),0.005
270,cat_delinq_2yrs_more than 1,1,"12,597.00 ( 4.90%)","10,031.00 ( 4.80%)","2,566.00 ( 5.60%)",0.000
272,cat_delinq_2yrs_one,1,"28,341.00 ( 11.10%)","23,036.00 ( 11.00%)","5,305.00 ( 11.60%)",0.001
274,cat_delinq_2yrs_zero,0,"213,856.00 ( 83.90%)","175,904.00 ( 84.20%)","37,952.00 ( 82.80%)",0.000
276,cat_inq_last_6mths_more than 2,1,"23,532.00 ( 9.20%)","18,067.00 ( 8.60%)","5,465.00 ( 11.90%)",0.000
278,cat_inq_last_6mths_one,1,"72,770.00 ( 28.60%)","59,223.00 ( 28.30%)","13,547.00 ( 29.60%)",0.000
280,cat_inq_last_6mths_two,1,"34,797.00 ( 13.70%)","27,627.00 ( 13.20%)","7,170.00 ( 15.60%)",0.000
282,cat_inq_last_6mths_zero,1,"123,695.00 ( 48.50%)","104,054.00 ( 49.80%)","19,641.00 ( 42.90%)",0.000
284,inc_grp_high_inc,1,"40,027.00 ( 15.70%)","34,503.00 ( 16.50%)","5,524.00 ( 12.10%)",0.000
286,inc_grp_low_inc,1,"56,455.00 ( 22.20%)","45,486.00 ( 21.80%)","10,969.00 ( 23.90%)",0.000
288,inc_grp_middle_inc,1,"67,203.00 ( 26.40%)","56,051.00 ( 26.80%)","11,152.00 ( 24.30%)",0.000
290,inc_grp_veryhigh_inc,1,"22,986.00 ( 9.00%)","20,182.00 ( 9.70%)","2,804.00 ( 6.10%)",0.000
292,inc_grp_verylow_inc,1,"68,123.00 ( 26.70%)","52,749.00 ( 25.20%)","15,374.00 ( 33.60%)",0.000
296,credit_hist_grp_17-21_yrs,1,"47,741.00 ( 18.70%)","39,614.00 ( 19.00%)","8,127.00 ( 17.70%)",0.000
298,credit_hist_grp_4-13_yrs,1,"76,583.00 ( 30.10%)","61,397.00 ( 29.40%)","15,186.00 ( 33.10%)",0.000
300,credit_hist_grp_<4_yrs,1,777.00 ( 0.30%),599.00 ( 0.30%),178.00 ( 0.40%),0.000
302,credit_hist_grp_>21_yrs,1,"58,224.00 ( 22.90%)","48,614.00 ( 23.30%)","9,610.00 ( 21.00%)",0.000

In [57]:
vn1 = tab1.loc[tab1['p_value']<0.05,'Variables'].unique()
print(len(vn1))
vn1

95

array(['initial_list_status', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'collections_12_mths_ex_med',
       'annual_inc', 'dti', 'delinq_2yrs', 'acc_now_delinq',
       'inq_last_6mths', 'open_acc', 'revol_bal', 'revol_util',
       'total_acc', 'loan_installment', 'acc_ratio', 'credit_hist',
       'poverty_rate_p', 'cat_collections_12_mths_ex_med', 'open_acc_rt',
       'total_acc_rt', 'annual_inc_log', 'annual_inc_rt', 'revol_bal_rt',
       'credit_hist_log', 'credit_hist_rt', 'max_L', 'max_fund_L',
       'MAX_fund_L_inv', 'is_acc_now_delinq_not_zero',
       'verification_status_Not Verified',
       'verification_status_Source Verified',
       'verification_status_Verified', 'purpose_car',
       'purpose_credit_card', 'purpose_debt_consolidation',
       'purpose_home_improvement', 'purpose_major_purchase',
       'purpose_medical', 'purpose_moving', 'purpose_other',
       'purpose_small_business', 'purpose_wedding',
       'emp_length_10+ years', 'emp_length_2 years', 'emp_length_3 years',
       'emp_length_4 years', 'emp_length_< 1 year', 'emp_length_n/a',
       'home_ownership_MORTGAGE', 'home_ownership_RENT',
       'full_state_Alabama', 'full_state_Alaska', 'full_state_California',
       'full_state_Colorado', 'full_state_Connecticut',
       'full_state_District of Columbia', 'full_state_Florida',
       'full_state_Illinois', 'full_state_Indiana',
       'full_state_Massachusetts', 'full_state_Michigan',
       'full_state_Missouri', 'full_state_Montana', 'full_state_Nevada',
       'full_state_New Hampshire', 'full_state_New Jersey',
       'full_state_New York', 'full_state_North Carolina',
       'full_state_Ohio', 'full_state_Oklahoma', 'full_state_Oregon',
       'full_state_South Carolina', 'full_state_Tennessee',
       'full_state_Texas', 'full_state_Washington',
       'full_state_West Virginia', 'full_state_Wyoming',
       'cat_delinq_2yrs_more than 1', 'cat_delinq_2yrs_one',
       'cat_delinq_2yrs_zero', 'cat_inq_last_6mths_more than 2',
       'cat_inq_last_6mths_one', 'cat_inq_last_6mths_two',
       'cat_inq_last_6mths_zero', 'inc_grp_high_inc', 'inc_grp_low_inc',
       'inc_grp_middle_inc', 'inc_grp_veryhigh_inc',
       'inc_grp_verylow_inc', 'credit_hist_grp_17-21_yrs',
       'credit_hist_grp_4-13_yrs', 'credit_hist_grp_<4_yrs',
       'credit_hist_grp_>21_yrs'], dtype=object)

We will add these variables to our variable selection table

In [58]:
varSelection['Univarable'] = 0
varSelection.loc[varSelection['Variable'].isin(vn1), 'Univarable'] = 1
varSelection

                           Variable  Univarable
0                        pymnt_plan           0
1               initial_list_status           1
2                         loan_amnt           1
3                       funded_amnt           1
4                   funded_amnt_inv           1
5                              term           1
6        collections_12_mths_ex_med           1
7                        annual_inc           1
8                               dti           1
9                       delinq_2yrs           1
10                   acc_now_delinq           1
11                   inq_last_6mths           1
12                         open_acc           1
13                          pub_rec           0
14                        revol_bal           1
15                       revol_util           1
16                        total_acc           1
17                 loan_installment           1
18                        acc_ratio           1
19                      credit_hist           1
20                   poverty_rate_p           1
21   cat_collections_12_mths_ex_med           1
22                      cat_pub_rec           0
23                      open_acc_rt           1
24                     total_acc_rt           1
25                   annual_inc_log           1
26                    annual_inc_rt           1
27                     revol_bal_rt           1
28                  credit_hist_log           1
29                   credit_hist_rt           1
..                              ...         ...
107         full_state_Pennsylvania           0
108         full_state_Rhode Island           0
109       full_state_South Carolina           1
110         full_state_South Dakota           0
111            full_state_Tennessee           1
112                full_state_Texas           1
113                 full_state_Utah           0
114              full_state_Vermont           0
115             full_state_Virginia           0
116           full_state_Washington           1
117        full_state_West Virginia           1
118            full_state_Wisconsin           0
119              full_state_Wyoming           1
120     cat_delinq_2yrs_more than 1           1
121             cat_delinq_2yrs_one           1
122            cat_delinq_2yrs_zero           1
123  cat_inq_last_6mths_more than 2           1
124          cat_inq_last_6mths_one           1
125          cat_inq_last_6mths_two           1
126         cat_inq_last_6mths_zero           1
127                inc_grp_high_inc           1
128                 inc_grp_low_inc           1
129              inc_grp_middle_inc           1
130            inc_grp_veryhigh_inc           1
131             inc_grp_verylow_inc           1
132       credit_hist_grp_13-17_yrs           0
133       credit_hist_grp_17-21_yrs           1
134        credit_hist_grp_4-13_yrs           1
135          credit_hist_grp_<4_yrs           1
136         credit_hist_grp_>21_yrs           1

[137 rows x 2 columns]

<b>Multivariable Analysis checks

### Variable Selection using LASSO (L1 penalization)

In [59]:
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

lassomod = Lasso(alpha=0.1,max_iter=10000).fit(X, y)

In [60]:
model = SelectFromModel(lassomod, prefit=True)
#model.get_support()

In [61]:
varSelection['Lasso'] = model.get_support().astype('int64')
#varSelection

### Variable Selection using Random Forest

In [62]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

rfmod = RandomForestClassifier().fit(X, y.values.ravel())
#rfmod.feature_importances_

In [63]:
model = SelectFromModel(rfmod, prefit=True)
#model.get_support()

In [64]:
varSelection['RandomForest'] = model.get_support().astype('int64')
#varSelection

### Variable Selection using Gradient Boosting classification

In [65]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.feature_selection import SelectFromModel

gbmod = GradientBoostingClassifier().fit(X, y.values.ravel())

In [66]:
model = SelectFromModel(gbmod, prefit=True)
#model.get_support()

In [67]:
varSelection['GradientBoost'] = model.get_support().astype('int64')
#varSelection

### Variable Selection using SVM classification

In [68]:
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel

svmmod = LinearSVC(C=0.01, penalty="l1",dual=False).fit(X, y.values.ravel())

In [69]:
model = SelectFromModel(svmmod, prefit=True)
#model.get_support()

In [70]:
varSelection['SVM'] = model.get_support().astype('int64')
#varSelection

### Summarization and Selection of Variables

In [71]:
varSelection['Sum'] =  np.sum(varSelection,axis=1)
varSelection

,Variable,Univarable,Lasso,RandomForest,GradientBoost,SVM,Sum
0,pymnt_plan,0,0,0,0,0,0
1,initial_list_status,1,0,1,1,1,4
2,loan_amnt,1,1,1,1,0,4
3,funded_amnt,1,1,1,1,1,5
4,funded_amnt_inv,1,1,1,1,1,5
5,term,1,0,1,1,1,4
6,collections_12_mths_ex_med,1,0,0,0,0,1
7,annual_inc,1,0,1,1,0,3
8,dti,1,1,1,1,1,5
9,delinq_2yrs,1,0,0,1,1,3
10,acc_now_delinq,1,0,0,0,1,2
11,inq_last_6mths,1,0,1,1,1,4
12,open_acc,1,0,1,0,1,3
13,pub_rec,0,0,0,0,0,0
14,revol_bal,1,0,1,1,0,3
15,revol_util,1,1,1,1,1,5
16,total_acc,1,0,1,0,1,3
17,loan_installment,1,1,1,1,1,5
18,acc_ratio,1,0,1,1,1,4
19,credit_hist,1,0,1,1,1,4
20,poverty_rate_p,1,0,1,1,0,3
21,cat_collections_12_mths_ex_med,1,0,0,0,1,2
22,cat_pub_rec,0,0,0,0,1,1
23,open_acc_rt,1,0,1,0,1,3
24,total_acc_rt,1,0,1,0,1,3
25,annual_inc_log,1,0,1,1,1,4
26,annual_inc_rt,1,1,1,1,1,5
27,revol_bal_rt,1,1,1,1,1,5
28,credit_hist_log,1,0,1,0,1,3
29,credit_hist_rt,1,0,1,1,1,4
...,...,...,...,...,...,...,...
107,full_state_Pennsylvania,0,0,0,0,0,0
108,full_state_Rhode Island,0,0,0,0,0,0
109,full_state_South Carolina,1,0,0,0,1,2
110,full_state_South Dakota,0,0,0,0,0,0
111,full_state_Tennessee,1,0,0,0,1,2
112,full_state_Texas,1,0,0,0,1,2
113,full_state_Utah,0,0,0,0,1,1
114,full_state_Vermont,0,0,0,0,0,0
115,full_state_Virginia,0,0,0,0,1,1
116,full_state_Washington,1,0,0,0,1,2
117,full_state_West Virginia,1,0,0,0,1,2
118,full_state_Wisconsin,0,0,0,0,1,1
119,full_state_Wyoming,1,0,0,0,1,2
120,cat_delinq_2yrs_more than 1,1,0,0,0,0,1
121,cat_delinq_2yrs_one,1,0,0,0,1,2
122,cat_delinq_2yrs_zero,1,0,0,1,1,3
123,cat_inq_last_6mths_more than 2,1,0,0,1,0,2
124,cat_inq_last_6mths_one,1,0,0,0,1,2
125,cat_inq_last_6mths_two,1,0,0,0,0,1
126,cat_inq_last_6mths_zero,1,0,0,1,1,3
127,inc_grp_high_inc,1,0,0,0,1,2
128,inc_grp_low_inc,1,0,0,0,1,2
129,inc_grp_middle_inc,1,0,0,0,1,2
130,inc_grp_veryhigh_inc,1,0,0,0,1,2
131,inc_grp_verylow_inc,1,0,0,0,0,1
132,credit_hist_grp_13-17_yrs,0,0,0,0,0,0
133,credit_hist_grp_17-21_yrs,1,0,0,0,0,1
134,credit_hist_grp_4-13_yrs,1,0,0,0,1,2
135,credit_hist_grp_<4_yrs,1,0,0,0,0,1
136,credit_hist_grp_>21_yrs,1,0,0,0,0,1

In [73]:
varSelection.groupby('Sum')['Variable'].count()

Sum
0    30
1    29
2    46
3    17
4     8
5     7
Name: Variable, dtype: int64

We can now decide a threshold for selecting our variables!

In [74]:
v=varSelection[varSelection['Sum']>1]

In [77]:
cols = v["Variable"]

In [80]:
cols = cols.append(pd.Series('default'))

In [81]:
df2 = df.loc[:,cols]

In [82]:
print(df2.shape)

(254794, 79)

In [83]:
writeSQL(df=df2,tablename="full_dataset")

C:\Users\Kobi\Anaconda3\lib\site-packages\pandas\core\generic.py:2127: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)